@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply min-h-screen min-w-full m-0 p-0;
}

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

.landing-body {
  background: linear-gradient(
    to bottom right,
    #004080,
    #00264d,
    #000033,
    #000000
  );
  color: #fff;
}

.signup-body {
  color: rgb(var(--foreground-rgb));
  padding: 20px;
  /*background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));*/
    /*color:  #84fb9695;*/
}

.section-header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #2c3e50;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.title {
  font-size: 4.5rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: "Montserrat", sans-serif;
}

.subtitle {
  font-size: 2.5rem;
  font-weight: lighter;
  color: #ccc;
  margin-bottom: 18px;
  font-family: "Montserrat", sans-serif;
}

.hr-line {
  border: none;
  height: 1px;
  width: 100%;
  background-color: lightgray;
  margin: 15px 0;
}

.content-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-content {
  padding: 20px;
}

.info {
  margin-bottom: 20px;
}

.join-button {
  @apply bg-indigo-600 hover:bg-indigo-800 font-bold py-2 px-4 rounded my-6 inline-block;
  color: #fff;
}

.title,
.subtitle,
.section-header {
  color: #fff;
}

.main-container {
  @apply flex flex-col items-center justify-center min-h-screen w-full;
}
.formStyle{
  @apply w-full h-full p-4 my-2 text-start border-2 rounded focus:bg-wheat focus:outline-none focus:border-leafy 
}


@media (max-width: 768px) {
  .title {
    @apply text-3xl;
  }

  .subtitle {
    @apply text-2xl;
  }

  .info {
    @apply text-base;
  }

  .join-button {
    @apply text-sm py-2 px-4;
  }

.signupOpt{
  @apply w-12 m-4 border-grassGreen border-4 shadow-md rounded-full p-2
}

  body {
    padding: 10px;
  }
}
