@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /*background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));*/
    /*color:  #84fb9695;*/
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.formStyle{
  @apply w-full h-full p-4 my-2 text-start border-2 rounded focus:bg-wheat focus:outline-none focus:border-leafy 
}

.signupOpt{
  @apply w-12 m-4 border-grassGreen border-4 shadow-md rounded-full p-2
}
